header{
    background: url("../images/p14.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
}
.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
    padding-left: 50px;
 }
.container {
    width: 80%;
}
.card-image {
    height: 100px;
}
.card {
    height: 450px;
}
#bold {
    font-size: 22px;
}


.brand-logo {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}


h5 {
    padding-top: 50px;
}

.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}

@media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
    .brand-logo.deep-orange-text.text-darken-3{
            font-size: 1.5em;
    }
}



@media screen and (max-width: 650px){
    .brand-logo.deep-orange-text.text-darken-3 {
        font-size: 1.25em;
        color:black;
    }
}
