header{
    background: url("../images/7.jpg");
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.container {
    width: 80%;
}

.col > div{
    background: ffccbc;
    
}

.brand-logo {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.flow-text {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

ul.a {
    list-style-type: circle;
}


li{
    font-size: 20px;
}



#button {
    float: right;
}

#add-review-button {
    float: right;
}


.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.tabs .indicator{
    background-color: black;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}


@media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
}

@media screen and (max-width: 603px){
  input.select-dropdown.dropdown-trigger{
        font-size: 1em;
    }
} 


@media screen and (max-width: 507px){
    .brand-logo.deep-orange-text.text-darken-4{
        font-size: 1.5em;
    }
    input.select-dropdown.dropdown-trigger{
        font-size: .8em;
    }
}
